@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");
:root {
  /* Colors */
  --footer-color: #1e1e26;
  --input-placeholder-color: #a0a0a0;
  --intense-background-color: #f1ddd8;
  --light-color: #ffffff;
  --primary-color: #232c50;
  --secondary-color: #f3603b;
  --smooth-background-color: #fafafa;
  --smooth-font-color: #b9b9c1;

  /* Sizes */
  --regular-size: 1rem;
  --large-size: 2.5rem;

  /* Font Wights */
  --regular-font: 400;
  --medium-font: 500;
  --semi-bold-font: 600;
  --bold-font: 700;

  /* Fonts */
  --main-font: "Be Vietnam Pro", sans-serif;

  /* Font Sizes */
  --primary-heading-desktop: 7rem;
  --primary-heading-mobile: 3.6rem;
  --secondary-heading: 3rem;
  --item-title-text: 2rem;
  --regular-text: 1.6rem;
  --small-text: 1.3rem;
}

/* Base */
* {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 10px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.background-pattern {
  background-image: url("../imagenes/bg-tablet-pattern.svg");
  background-size: 440px;
}

/* Header */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--large-size);
  margin-top: var(--large-size);
  background: transparent;
}

.navbar-button {
  display: none;
}

.nav-link__list > * a:hover {
  opacity: 0.5;
}

.navbar nav {
  display: none;
}

.hamburger-menu {
  color: var(--primary-color);
  font-size: xx-large;
  font-weight: bold;
}

/* Hero */
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: var(--regular-size);
  margin-bottom: 4rem;
}

.home__banner--container {
  min-width: 326px;
  max-width: fit-content;
}

.home__banner {
  max-width: fit-content;
  overflow: hidden;
  width: 100%;
}

.home__branding {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: fit-content;
  padding-inline: var(--regular-size);
}

.home__branding--heading {
  color: var(--primary-color);
  font-size: clamp(
    var(--primary-heading-mobile),
    4vw,
    var(--primary-heading-desktop)
  );
  font-weight: var(--bold-font);
  text-align: center;
}

.home__branding--heading p {
  font-size: inherit;
}

.home__branding--content {
  color: var(--smooth-font-color);
  font-size: clamp(var(--regular-text), 1vw, 3rem);
  font-weight: var(--medium-font);
  line-height: 26px;
  /* padding-inline: var(--large-size); */
  text-align: center;
}

.home__branding--content p {
  font-size: inherit;
}

/* About Us */
.about-us {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--regular-size) 0;
}

.about-us__title {
  min-width: 350px;
}

.about-us__heading {
  color: var(--primary-color);
  font-size: clamp(var(--secondary-heading), 2vw, 5rem);
  padding-block: var(--large-size);
  text-align: center;
}

.about-us__content {
  color: var(--smooth-font-color);
  font-size: clamp(var(--regular-text), 1vw, 3rem);
  font-weight: var(--medium-font);
  line-height: 157.1%;
  text-align: center;
}

.about-us__content p {
  font-size: inherit;
}

.about-us__list {
  padding: var(--regular-size) 0;
}

.about-us__list-item {
  max-width: 350px;
}

.about-us__list-item--title {
  display: flex;
}

.about-us__list-item--title span.about-us__list-item--index {
  background-color: var(--secondary-color);
  border-radius: 30px;
  color: var(--light-color);
  font-size: var(--regular-text);
  padding: var(--regular-size) 2rem;
  transform: translateX(25%);
}

.about-us__list-item--title span.about-us__list-item--description {
  align-items: center;
  background-color: var(--intense-background-color);
  color: var(--primary-color);
  display: flex;
  width: 100%;
  z-index: -1;
}

.about-us__list-item--title span.about-us__list-item--description h3 {
  font-size: clamp(var(--small-text), 2vw, var(--item-title-text));
  font-weight: var(--bold-font);
  letter-spacing: -0.015rem;
  line-height: 23px;
  padding-left: 3rem;
}

.about-us__list-item--content {
  padding: var(--regular-size) var(--large-size);
  padding-right: 0;
}

.about-us__list-item--content p {
  color: var(--smooth-font-color);
  font-size: clamp(var(--small-text), 1vw, 2rem);
  font-weight: var(--medium-font);
  letter-spacing: -0.01rem;
  line-height: 26px;
}

/* Testimonies */
.testimonies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  padding: var(--large-size);
}

.testimonies__title {
  align-items: center;
  display: flex;
  justify-content: center;
}

.testimonies__title h2 {
  font-size: var(--secondary-heading);
}

.testimonies__card {
  background-color: var(--smooth-background-color);
  max-width: 350px;
  margin-block: 2rem;
}

.testimonies__card--avatar {
  display: flex;
  justify-content: center;
}

.testimonies__card--avatar img {
  transform: translateY(-50%);
  width: 70px;
}

.testimonies__card--name {
  align-items: center;
  display: flex;
  justify-content: center;
}

.testimonies__card--name h3 {
  color: var(--primary-color);
  font-size: var(--regular-text);
}

.testimonies__card--testimony {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: var(--large-size);
}

.testimonies__card--testimony p {
  color: var(--smooth-font-color);
  font-size: var(--small-text);
  text-align: center;
}

/* Ending */
.ending {
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 90px 55px;
}

.ending__title {
  font-size: var(--secondary-heading);
  font-weight: var(--bold-font);
  letter-spacing: -0.005rem;
  line-height: 48px;
  text-align: center;
}

footer {
  background-color: var(--footer-color);
}

/* Footer */
footer div.footer-media__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: space-around;
  padding: var(--large-size);
}

footer div.footer-media__container form {
  display: flex;
  gap: 1rem;
  width: 100%;
}

footer div.footer-media__container form input[type="email"] {
  border-radius: 50px;
  border: none;
  font-size: var(--regular-text);
  padding-inline: 2rem;
  width: 100%;
}

footer div.footer-media__container form input:focus {
  outline: none;
}

footer div.footer-media__container form input::placeholder {
  color: var(--input-placeholder-color);
  font-size: var(--small-text);
}

div.footer-media__container form label {
  display: none;
}

/* Sections Menu */

.sections__menu {
  /* padding: var(--large-size); */
  width: 100%;
}

.sections__menu-list {
  display: flex;
  justify-content: space-around;
}

.sections__menu-list--column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: var(--regular-size);
}

.sections__menu-list-item {
  color: var(--light-color);
}

.sections__menu-list-item a {
  font-size: var(--small-text);
  font-weight: var(--regular-font);
}

.sections__menu-list-item a:visited {
  color: var(--light-color);
}

.sections__menu-list-item a:hover {
  color: var(--secondary-color);
}

/* Social Branding */

.social-branding {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: var(--large-size);
  width: 100%;
}

.social-branding__social-links {
  display: flex;
  justify-content: space-between;
}

.social-branding__social-links i {
  font-size: 3rem;
  color: var(--light-color);
}

.social-branding__social-links i:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.social-branding__social-links svg path {
  fill: var(--secondary-color);
}

.social-branding__logo-container {
  display: flex;
  justify-content: center;
}

/* Copyright */
.copyright {
  text-align: center;
  padding-block: 2rem;
}

.copyright p {
  color: var(--smooth-font-color);
  font-size: var(--small-text);
  font-weight: var(--regular-font);
}

/* Button */
.button-container {
  display: flex;
}

.button-container .btn--primary {
  box-shadow: none;
  width: 85px;
}

.btn--primary {
  color: var(--light-color);
  cursor: pointer;
  background: var(--secondary-color);
  border-radius: 50px;
  box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
  font-size: var(--small-text);
  font-weight: var(--medium-font);
  padding: 1.5rem 10px;
  text-align: center;
  width: 134px;
}

.btn--primary:hover {
  opacity: 0.5;
}

input.btn--primary {
  border: none;
}

.btn--secondary {
  color: var(--secondary-color);
  cursor: pointer;
  background: var(--light-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-size: var(--small-text);
  font-weight: var(--medium-font);
  padding: 1.5rem 10px;
  text-align: center;
  width: 134px;
}

.btn--secondary:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

/* Utilities */

.flex-container__fluid {
  display: flex;
  flex-wrap: wrap;
}

.flex-container__fluid.col-size-2 > * {
  flex: 1 1 50%;
}

.flex-container__fluid.col-size-3 > * {
  flex: 1 1 33%;
}

.gap-small {
  gap: 1rem;
}

.hidden-small {
  display: none;
}

@media screen and (min-width: 672px) {
  .navbar nav {
    display: block;
    flex-basis: 50%;
  }

  .navbar nav .nav-link__list {
    display: flex;
    justify-content: space-around;
  }

  .nav-link__list li a {
    font-size: var(--regular-text);
  }

  .home {
    justify-content: space-between;
  }

  .home__banner--container {
    order: 1;
  }

  .home__branding--heading,
  .home__branding--content,
  .about-us__heading,
  .about-us__content {
    text-align: start;
  }

  .home > * > *,
  .about-us > * > * {
    align-self: flex-start;
  }

  .about-us__list-item {
    max-width: fit-content;
  }

  .ending {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .ending > * {
    max-width: fit-content;
  }

  .hamburger {
    display: none;
  }

  .navbar-button {
    display: block;
  }

  /* Utilities */
  .hidden-small {
    display: block;
  }

  .hidden-large {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  body {
    padding-block: calc(2vw + 10px);
    padding-inline: calc(7vw + 10px);
  }

  header {
    margin-bottom: 5rem;
  }

  .about-us__title {
    align-self: flex-start;
  }

  .about-us__list-item--title span.about-us__list-item--index {
    transform: translateX(0);
  }

  .about-us__list-item--title span.about-us__list-item--description {
    background-color: transparent;
  }

  .about-us__list-item--content {
    padding-left: 9rem;
  }
}

@media screen and (min-width: 1175px) {
  footer div.footer-media__container {
    flex-direction: row;
  }

  footer div.footer-media__container .sections__menu {
    order: 1;
  }

  footer div.footer-media__container form {
    order: 2;
  }

  .social-branding .social-branding__social-links {
    justify-content: center;
    gap: 1rem;
    order: 1;
  }

  .copyright {
    text-align: end;
    padding-right: 5rem;
  }
}
